.main
  .main__header
    .main__header__right-box
      .main__header__right-box__groupname
        = @group.name
      %ul.main__header__right-box__menber-list
        Menber :
        %li.menber-list
        - @group.users.each do |user|
          = user.name
    .main__header__edit-btn
      = link_to edit_group_path(@group) do
        Edit
  .main__messages
    = render @messages
    .main__messages__messagebox
      .main__messages__messagebox__upper
        .main__messages__messagebox__upper__name
        .main__messages__messagebox__upper__date
      .main__messages__messagebox__lower

  .main__form
    = form_for [@group, @message], html:{class:"new-message"} do |f|
      .contents
        = f.text_field :content, class: 'contents__text', placeholder: 'type a message'
        = f.label :image, class: 'contents__picture' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'contents__picture__file'
      = f.submit 'Send', class: 'send'
